<ion-header>
  <ion-navbar>
    <ion-title text-center>Create Student</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="cont">
    <ion-row padding>
      <ion-col col-5>
        <ion-card>
          <ion-card-content>
            <ion-list class="instruction-list">
              <ion-list-header>
                <ion-label
                  >The bulk upload feature allows you to upload multiple
                  information at once from an excel file.</ion-label
                >
              </ion-list-header>
              <!-- <ion-item>
                <ion-label
                  >Download the excel file template (Click here to
                  download).</ion-label
                >
              </ion-item> -->
              <ion-item>
                <ion-label>
                  Fill your students' details in the file starting from the
                  second row and save the updated file.</ion-label
                >
              </ion-item>
              <ion-item>
                <ion-label>
                  Click on the "choose file" button here to upload the updated
                  excel file</ion-label
                >
              </ion-item>
            </ion-list>

            <ion-item>
              <ion-label>Bulk Upload</ion-label>
              <ion-input
                type="file"
                (change)="selectFile($event)"
                accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                <a href="assets/template.xlsx" download>Download the excel file template (Click here to
                  download)</a>
              </ion-label>
            </ion-item>

            <button
              [disabled]="!bulkuploadfile || uploading"
              (click)="uploadStudent() "
              ion-button
              full
            >
              Upload
            </button>
          </ion-card-content>
        </ion-card>
        <br />
        <ion-card>
          <ion-card-content>
            <h3>Add new Student</h3>
            <br />

            <form [formGroup]="createStudentForm" (submit)="submit()">
              <ion-item>
                <ion-label floating>Student ID</ion-label>
                <ion-input
                  type="text"
                  formControlName="email"
                  value=""
                ></ion-input>
              </ion-item>
              <br />
              <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input type="text" formControlName="firstname"></ion-input>
              </ion-item>
              <br />
              <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input type="text" formControlName="lastname"></ion-input>
              </ion-item>
              <br />
              <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input
                  type="password"
                  formControlName="password"
                ></ion-input>
              </ion-item>
              <br />
              <button
                type="submit"
                ion-button
                full
                round
                [disabled]="!createStudentForm.valid"
              >
                Create Student
              </button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- <ion-col col-1></ion-col> -->

      <ion-col col-7 *ngIf="loaded | async">
        <ion-card>
          <ion-card-content>
            <h1>Students: <strong>{{users.metric}}</strong></h1>
          </ion-card-content>
        </ion-card>
        <br />

        <ion-card>
          <ion-card-content>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">No: </th>
                    <th scope="col">Student ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Edit Student</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="let user of users.data  | paginate: { id: 'server', itemsPerPage: users.limit, currentPage: page, totalItems: users.metric, numberOfPages: users.total }; let i = index"
                  >
                    <td>{{i + 1}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>
                      <button                        
                        (click)="editStudentDetails(user)"
                        ion-button
                        full
                      >
                        Edit
                      </button>
                    </td>
                  </tr>

                  <br />
                  <pagination-controls
                    id="server"
                    (pageChange)="pageChange($event)"
                  ></pagination-controls>
                </tbody>
              </table>
            </div>
            <br />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
