.editstudent-modal .modal-wrapper {
  height: 65%;
}

page-editstudent {
  .global-btn {
    width: 100% !important;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    display: block;
  }

  .activation-btn {
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 50px;
  }

  .btn-spinner {
    height: 22px;
    margin-left: 15px;
  }
}

ion-modal .modal-wrapper {
  height: 60%;
}
