<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="brown"></ion-icon>
    </button>
    <ion-title>Match</ion-title>
    <ion-buttons end>
      <!-- <button ion-button color="dark" class="timer" (click)="UndoDissmis()">
        <ion-icon name="ios-undo" color="dark" class="calc-icon"></ion-icon>
      </button>-->
      <!-- <button ion-button color="dark" class="timer" (click)="restart()">
        <ion-icon name="refresh" color="dark" class="calc-icon"></ion-icon>
      </button> -->
      <button
        ion-button
        clear
        color="dark"
        class="timer"
        *ngIf="!gameOver && !newGame"
        #timer
      >
        {{ getTimeInSeconds(time) }} seconds
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngClass]="{'match-done': true, 'show': gameOver === true}">
    <p class="emoji">🎊</p>
    <h1>Nice Work!</h1>
    <br />
    <h2>{{ getTimeInSeconds(time) }} seconds</h2>
    <p>Your personal record is {{ getTimeInSeconds(time) }} seconds</p>
    <br />
    <br />
    <button class="global-btn enroll-btn" ion-button (click)="restart()">
      Play again
    </button>
    <!-- <button
      class="global-btn tertiary-btn--outline"
      ion-button
      (click)="restart()"
    >
      Restart
    </button> -->
  </div>
  <div [ngClass]="{'match-done': true, 'show': newGame === true}">
    <p class="emoji">🏁</p>
    <h1>Ready to play?</h1>
    <p>See how fast you can match all the terms with their definitions.</p>
    <br />
    <br />
    <button class="global-btn enroll-btn" ion-button (click)="start()">
      Start game
    </button>
    <br />
    <!-- <button
      class="global-btn tertiary-btn--outline"
      ion-button
      (click)="restart()"
    >
      Restart
    </button> -->
  </div>
  <div *ngIf="loaded | async" class="match-container">
    <!-- matchcards Interface-->
    <div [ngClass]="{'match-cards': true, 'show': !gameOver && !newGame }">
      <div
        class="match-card"
        [attr.data-correct-id]="card.matchId"
        *ngFor="let card of matchCards"
        (click)="handleCardSelect($event)"
        [innerHTML]="card.term"
      ></div>
      <div class="timer-container" #timerContainer>
        <!-- <p class="added-time">+1 Sec</p> -->
      </div>
    </div>
  </div>
</ion-content>
