<ion-header>
  <div class="bg-head">
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu" color="brown"></ion-icon>
      </button>
      <ion-title text-center
        ><img src="assets/imgs/simbibot-blue.png" alt=""
      /></ion-title>
    </ion-navbar>
    <div class="cont">
      <ion-searchbar [(ngModel)]="searchInput" class="search-bar"></ion-searchbar>
    </div>
  </div>
</ion-header>

<ion-content overflow-scroll = "true">
  <!-- <ion-card
    (click)="gotoSubjects()"
    [ngStyle]="{ 'background-color': config.background_color }"
    class="banner-card"
  >
    <ion-row>
      <ion-col col-6>
        <img [src]="config.logo_dir" class="logo" alt="" />
      </ion-col>
      <ion-col col-6>
        <br />
        <h3 [ngStyle]="{ color: config.text_color }">Prepare for</h3>
        <h1 [ngStyle]="{ color: config.text_color }">
          {{ config.version_name | titlecase }}
        </h1>
        <p [ngStyle]="{ color: config.text_color }">Click Here</p>
      </ion-col>
    </ion-row>
  </ion-card> -->
  <div *ngIf="loaded && examLoaded" class="cont">
    <h1>Welcome {{user.firstname}}</h1>
    <br />
    <br />
    <h2>Practice Exams</h2>
    <ion-row>
      <ion-col col-3 *ngFor="let exam of exams">
        <ion-card (click)="gotoSubjects(exam)" >
          <ion-card-content>
            <img
                  class="center img"
                  [src]="exam.img"
                  alt=""
                  *ngIf="exam.img != null"
                />
            <p>
              
              <strong> {{ exam.name | titlecase }} </strong>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <br>
    <h2 >Learn any topic</h2>
    <ion-row class="animated fadeInUp">
      <ion-col
        *ngFor="
          let subject of subjects | searchFilter: searchInput;
          let i = index
        "
        col-3
      >
        <div>
          <ion-card (click)="gotoTopicPage(i, subject)">
            <ion-card-content>
              <ion-card-title>
                <img
                  class="center img"
                  [src]="subject.image_url"
                  alt=""
                  *ngIf="subject.image_url != null"
                />
                <p
                  [ngStyle]="{ 'background-color': subject.color }"
                  class="p-bg"
                  *ngIf="subject.image_url == null"
                ></p>
              </ion-card-title>
              <p
                class="center line"
                [ngStyle]="{ 'border-bottom-color': subject.color }"
              ></p>
              <p>
                <strong> {{ subject.name | titlecase }} </strong>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <!-- <div class="subject-card" *ngFor="let subject of subjects | searchFilter : searchInput; let i = index; " [ngStyle]="{'background-color' : subject.color}" (tap)="gotoTopicPage(i)">
      <ion-row>
        <ion-col col-4>
        <img [src]="subject.image_url" class="img-center" alt="" [ngClass]="i == 1 ? '.move_img_left' : ''">
        </ion-col>
        <ion-col col-8>
          <h3>{{subject.name}}</h3>
        </ion-col>
      </ion-row>
        <h3> </h3> -->
    <!-- </div> -->
  </div>
</ion-content>
