page-onboarding.ion-page {
  height: 100%;
}

page-onboarding {
  height: 70%;

  .bg-text {
    
     padding: 20% 10px 10px 10px;
    height: 100%;

    .p-bg {
      background: rgba($color: #fff, $alpha: 1);
      padding: 10px;
    }
  }

  h3 {
    margin-top: calc(100% / 4);
    font-size: 25px;
    color: color($colors, brown);
  }

  p {
    text-align: justify;
    font-size: 16px;
  }

  ion-spinner {
    margin: 10px auto;
    display: block;
    // padding: 5px;
  }

  .toolbar-background-md {
    background: none !important;
  }

  .content-ios,
  .content-md {
    background: url("../../assets/imgs/onboarding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .global-btn {
    width: 100% !important;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    background-image: linear-gradient(to right, #7b1ce3, rgb(95, 157, 232));
  }

  .button-md {
    font-size: 14px;
  }
}
